<!-- Header -->
<header id="books">
  <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <div class="w3-container">
  <h1><b>Books</b></h1>
  <div class="w3-section w3-bottombar w3-padding-16">
	<span class="w3-margin-right">Filter:</span>
	<button class="w3-button {% if category is not defined %}w3-black{% else %}w3-white{% endif %}" onclick="javascript:window.location.href='{{ path('app_search_index') }}'">ALL</button>
    {% if scienceHide is not defined or not scienceHide %}
        <button class="w3-button {% if category is defined and category == 3 %}w3-black{% else %}w3-white{% endif %}" onclick="javascript:window.location.href='{{ path('app_search_category', {'category': 3}) }}'"><i class="fa fa-diamond w3-margin-right"></i>Science</button>
    {% endif %}
	<button class="w3-button {% if category is defined and category == 1 %}w3-black{% else %}w3-white{% endif %} w3-hide-small" onclick="javascript:window.location.href='{{ path('app_search_category', {'category': 1}) }}'"><i class="fa fa-photo w3-margin-right"></i>Biography</button>
	<button class="w3-button {% if category is defined and category == 2 %}w3-black{% else %}w3-white{% endif %} w3-hide-small" onclick="javascript:window.location.href='{{ path('app_search_category', {'category': 2}) }}'"><i class="fa fa-map-pin w3-margin-right"></i>Fiction</button>
  </div>
  </div>
</header>
